
<div class="poster">
  <img src="<%= @poster %>" alt="">
</div>
<div class="info">
  <div class="spacing">
    <h1><%= @title %></h1>
    <p>released: <%= @released %> </p>
    <p>directed by: <%= @director %> </p>
    <p>starring: <%= @actors %> </p>
    <p>runtime: <%= @runtime %> </p>
    <p>classification: <%= @rated %> </p>
    <p>plot summary: <%= @plot %> </p>
  </div>
</div>